//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 16 11:47:24 2022
//! **************************************************************************

SCHEMATIC START;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

